@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'headline';
  src: url('/frontend/src/assets/fonts/Rejouice-Headline.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'regularfont';
  src: url('/frontend/src/assets/fonts/PPMori-Regular.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
::selection {
  background: #000000;
  color: #ffffff;
}